[[headers]]
for = "/unity/*"
  [headers.values]
  Cross-Origin-Opener-Policy = "same-origin"
  Cross-Origin-Embedder-Policy = "require-corp"
  Cross-Origin-Resource-Policy = "cross-origin"
  Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/unity/*.data*"
  [headers.values]
  Content-Type = "application/octet-stream"

[[headers]]
for = "/unity/*.wasm*"
  [headers.values]
  Content-Type = "application/wasm"

[[headers]]
for = "/unity/*.js*"
  [headers.values]
  Content-Type = "application/javascript"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200


